
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Admin Dashboard</h1>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <ul class="list-group">
                <li class="list-group-item active">Menu</li>
                <li class="list-group-item">Posts</li>
                <li class="list-group-item">Comentários</li>
                <li class="list-group-item">Usuários</li>
            </ul>
        </div>
        <div class="col-md-9">
            <!-- Conteúdo da página aqui -->
        </div>
    </div>
</div>