<!-- <div class="container">
    <div class="img-header">
        <img src="{{ post.image }}" alt="{{ post.title }}">
    </div>
    <div class="content">
        <h1>{{ post.title }}</h1>
        <p>{{ post.content }}</p>
    </div>
    
    <div class="user-info">
        <div class="user">
            <img src="{{ post.user.avatar }}" alt="{{ post.user.name }}">
            <span>{{ post.user.name }}</span>
        </div>
        <div class="date">
            <span>{{ post.created_at | date }}</span>
        </div>
    </div>
</div> -->